asgiref==3.8.1
attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==42.0.5
docutils==0.18.1
docutils==0.18.1
filelock==3.18.0
flask_cors==5.0.1
HTMLParser==0.0.2
importlib_metadata==7.0.1
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
keyring==24.3.1
matplotlib==3.8.4
numpy==2.2.5
opencv_python==4.10.0.84
pandas==2.2.3
Pillow==11.2.1
protobuf==3.20.3
pyOpenSSL==24.0.0
pyOpenSSL==25.0.0
redis==4.4.4
scikit_learn==1.4.2
seaborn==0.13.2
Sphinx==8.2.3
tensorflow==2.18.0
thread==2.0.5
ultralytics==8.3.75
urllib3_secure_extra==0.1.0
watchdog==4.0.1
xmlrpclib==1.0.1
